
header{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 50px;
}
.bloco_one{
display: flex;
flex-direction: column;
gap: 30px;
}
.bloco_one>div{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    display: flex;
    align-items: center;
}
.bloco_one>div>div{
    width: 29px;
    height: 22.08px;
    background: #087F5B;
    border-radius: 0px 6px;
}
.bloco_one>div>h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #212529;
}
.bloco_one>h3{
    margin-top: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    color: #212529;
    width: 430px;
    height: 120px;
}
.bloco_one>h3>strong{
    color: #087F5B;
}
.bloco_one>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212529;
}
.bloco_one>span{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #212529;
    cursor: pointer;
}
.bloco_two>img{
    width: 578px;
    height: 440px;

}
/* >>>>>>>>>>>>>>>>>>>>>>>.NAV */

.navegacao{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    gap: 50px;
    margin-top: 50px;
}
.navegacao>button{
    width: 100px;
    height: 38px;
    border: 1px solid #F1F3F5;
    border-radius: 32px;
    background: #F1F3F5;
    cursor: pointer;
}
.navegacao>button:hover{
    border: 1px solid #087F5B;
    border-radius: 32px;
    background: #087F5B;
    color: #F8F9FA;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>.MAIN */
main{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}
.listasPost{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 82px;
    padding: 10px;
}
.listasPost>li{
    width: 548px;
    height: 360px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px ;
}
.listasPost>li>img{
    width: 100%;
    height: 172px;
}
.listasPost>li>h3{
    font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #212529;
}
.listasPost>li>p{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #495057;
}
.listasPost>li>span{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #087F5B;
    cursor: pointer;
}
#observadora{
    width: 100%;
    height: 50px;
}
footer{
    display: flex;
    Height:255px;
    padding-left: 300px;
    background: #212529;
    gap: 260px;
    align-items: center;
}
.iconeLog{
    width: 29px;
    height: 22.08px;
    background: #087F5B;
    border-radius: 0px 6px;
}
.tituloLog{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #212529;
}
footer>div{
    display: flex;
    gap: 50px;
}
footer>div>p{
    max-width: 550px;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #808387;

}
footer>div>div{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer>a{
    text-decoration: none;  
    text-align: center;
    padding: 5px;
    width: 180px;
    background: #495057;
    border: 1px solid #495057;
    border-radius: 32px;
    cursor: pointer;
}
footer>a:hover{
    color: rgb(206, 202, 197);
    background-color: #64696e;
}
#musa{
    color: #F8F9FA;
}
